streamlit >= 1.36.0
requests >= 2.31.0
zhipuai >= 2.1.0.20240521
langchain_community >= 0.2.4
# Python-pptx 是一个用于操作PowerPoint文件的Python库
python-pptx >= 0.6.23
# Python-docx 是一个用于操作Word文档的Python库
python-docx >= 1.1.2
# OpenAI 是一个用于访问OpenAI API的库
openai >= 1.33.0
BCEmbedding >= 0.1.5
# Jupyter Client 是用于与Jupyter Notebook和JupyterLab交互的库
jupyter_client >= 8.6.2
# FastAPI 是一个用于构建API的框架
fastapi >= 0.111.0
langchain_openai >= 0.1.8
# psycopg2 是一个用于与PostgreSQL数据库交互的库
psycopg2 >= 2.9.9
# psutil（Process and System utilities）是一个跨平台的Python库，用于检索系统运行的进程和系统利用率（如CPU、内存、磁盘、网络等）的信息。它主要用于系统监控、分析和限制进程资源等任务。
psutil >= 5.9.8
# 提供了一种增强型的枚举（Enumeration）类实现，使得枚举值具有更多的功能和安全性
strenum >= 0.4.15
# milvus向量数据库
pymilvus >= 2.4.1 # windows目前不支持最新版[最新版2.4.3有milvus lite 本地数据库]
# chroma向量数据库
langchain_chroma >= 0.1.1
# bs4 网页爬虫
bs4 >= 0.0.2
# LangChain Hub是一个用于存储和管理LangChain对象（例如提示模板）的中心。这个模块提供了两个主要功能：push和pull，分别用于将对象推送到LangChain Hub和从LangChain Hub拉取对象。
langchainhub >= 0.1.20
# ollama python sdk
ollama >= 0.2.1
# 豆包模型，抖音旗下火山引擎的sdk
volcengine-python-sdk[ark] >= 1.0.87
# 可以将列表或列表的列表转换成漂亮的表格（即表格式文本）
tabulate >= 0.9.0