streamlit >= 1.37.1
requests >= 2.31.0
zhipuai >= 2.1.4.20230814
langchain_community >= 0.2.4
# Python-pptx 是一个用于操作PowerPoint文件的Python库
python-pptx >= 0.6.23
# Python-docx 是一个用于操作Word文档的Python库
python-docx >= 1.1.2
# OpenAI 是一个用于访问OpenAI API的库
openai >= 1.33.0
BCEmbedding >= 0.1.5
# Jupyter Client 是用于与Jupyter Notebook和JupyterLab交互的库
jupyter_client >= 8.6.2
# FastAPI 是一个用于构建API的框架
fastapi >= 0.111.0
langchain_openai >= 0.1.8
# psycopg2 是一个用于与PostgreSQL数据库交互的库
# psycopg2 >= 2.9.9
psycopg2-binary >= 2.9.9
# psutil（Process and System utilities）是一个跨平台的Python库，用于检索系统运行的进程和系统利用率（如CPU、内存、磁盘、网络等）的信息。它主要用于系统监控、分析和限制进程资源等任务。
psutil >= 5.9.8
# 提供了一种增强型的枚举（Enumeration）类实现，使得枚举值具有更多的功能和安全性
strenum >= 0.4.15
# milvus向量数据库
pymilvus >= 2.4.1 # windows目前不支持最新版[最新版2.4.3有milvus lite 本地数据库]
# chroma向量数据库
#langchain_chroma >= 0.1.1
# bs4 网页爬虫
bs4 >= 0.0.2
# LangChain Hub是一个用于存储和管理LangChain对象（例如提示模板）的中心。这个模块提供了两个主要功能：push和pull，分别用于将对象推送到LangChain Hub和从LangChain Hub拉取对象。
langchainhub >= 0.1.20
# ollama python sdk
ollama >= 0.2.1
# 豆包模型，抖音旗下火山引擎的sdk
volcengine-python-sdk[ark] >= 1.0.87
# 可以将列表或列表的列表转换成漂亮的表格（即表格式文本）
tabulate >= 0.9.0
# Python 播放和录制声音
#sounddevice >= 0.4.7
# 百度语音识别
#baidu-aip >= 4.16.13
# 用于检测文本编码的 Python 库。它能够自动检测文本文件的字符编码，避免因编码问题导致的错误。很多依赖于处理文本的库会使用 chardet 来确保文本数据的正确解码。
#chardet >= 5.2.0
# 百度系模型调用
qianfan >= 0.3.18
# 流程图、关系图等
graphviz >= 0.20.3
## ---------接口开发---------
# 生成和校验 JWT 令牌
PyJWT >= 2.8.0
# Passlib 是处理密码哈希的 Python 包, 推荐的算法是 Bcrypt
passlib[bcrypt] >= 1.7.4
# 接口授权限制
fastapi_login >= 1.10.1
# 环境配置
pydantic_settings >= 2.3.4
# ruamel.yaml 是一种 YAML 解析器/发射器，支持注释、seq/映射流风格和映射键顺序的往返保存。
ruamel.yaml >= 0.18.6
# 升级transformers版本
#transformers >= 4.44.2
# 阿里系模型调用
dashscope >= 1.20.1
# api/utils/file_utils使用
pdfplumber >= 0.11.2
# 用于处理不安全的环境下的数据序列化和签名。其中URLSafeTimedSerializer 类是 itsdangerous 库中的一个组件，它被设计用来创建和验证有时限的、URL安全的令牌。
itsdangerous >= 2.2.0
# redis
redis >= 5.0.7
## ---------nlp&文件解析---------
# 使用 datrie 库构建和加载字典树（trie）
datrie >= 0.8.2
# 使用 nltk 进行英文词干提取和词形还原
nltk >= 3.9
# HanziConv 用于中英文转换
hanziconv >= 0.3.2
# 用于将罗马数字转换为阿拉伯数字
roman_numbers >= 1.0.2
# 用于将英文数字单词转换为阿拉伯数字
word2number >= 1.1
# 用于将中文数字转换为阿拉伯数字
cn2an >= 0.5.22
# 用于从各种文件格式中提取文本和元数据
tika >= 2.6.0
# 用于将 Markdown 文本转换为 HTML
markdown >= 3.6
# 用于处理 PDF 文件
PyPDF2 >= 3.0.1
# 用于处理 PDF 文件
pypdf >= 4.3.1
# openpyxl
openpyxl >= 3.1.5
# 用于将中文汉字转换为拼音
xpinyin >= 0.7.6
# xgboost 是一个优化的分布式梯度提升库，旨在高效、灵活和便捷地处理大规模数据集和多种机器学习任务
xgboost >= 2.1.0
# 视觉处理库
opencv-python >= 4.10.0.84
# 用于操作和分析平面几何对象
shapely >= 2.0.5
# 用来进行直线图形（比如多边形和矩形）的剪裁（clipping）操作的库
pyclipper >= 1.3.0.post5
# 主要用于从网页中提取主要内容。这个库的目标是从HTML文档中去除所有的样式、脚本和布局信息，留下纯净的文章内容
readability >= 0.3.1
# 用于从HTML文档中提取文本内容
html_text >= 0.6.2
# 是 demjson 的一个分支，用于处理JSON数据
demjson3 >= 3.0.6
# Selenium 是一个自动化测试工具，主要用于Web应用程序的自动化测试。它提供了一系列工具，允许用户模拟用户在浏览器中的行为，如点击、拖放、键盘输入等，从而实现自动化测试。
selenium >= 4.23.0
# 它提供了一个方便的方式来自动管理Web驱动程序（如ChromeDriver、GeckoDriver、IEDriver和EdgeDriver）的下载和更新。这对于使用Selenium进行自动化测试的开发者来说非常有用，因为它简化了驱动程序的管理过程。
webdriver_manager >= 4.0.1
# 核心类 umap.UMAP 是用于数据降维的非线性技术
umap >= 0.1.1
onnxruntime >= 1.18.1
chardet >= 5.2.0
minio >= 7.2.7
python-multipart >= 0.0.9
uvicorn >= 0.30.1
socksio >= 1.0.0
# json反序列化【工作流】
dacite >= 1.8.1
# 用于解析 JSON 数据。jsonpath-ng 提供了一个灵活且强大的方法来从 JSON 对象中抽取数据【工作流】
jsonpath-ng >= 1.6.1
# 数据库迁移工具，主要用于处理SQLAlchemy ORM（对象关系映射）所使用的数据库模式变更
alembic >= 1.13.2
# FlagEmbedding 是一个专注于检索增强大型语言模型(LLM) 的 Python 库
FlagEmbedding >= 1.2.11
# pyfiglet生成艺术字
#pyfiglet >= 1.0.2
# peft 是一个用于模型训练和优化的库
peft >= 0.12.0
# 处理表格数据的Python库，它们可以用来读取、操作和写入不同格式的电子表格数据。【工作流】
pyexcel >= 0.7.0
pyexcel-xlsx >= 0.6.0
# Aspose.Slides for Python via .NET 是一个演示文件格式处理库，用于在不使用 Microsoft PowerPoint 的情况下处理 Microsoft PowerPoint 文件。
Aspose.Slides >= 24.9.0
# ormsgpack 是一个适用于 Python 的快速 msgpack 库。它是orjson的分支/重启版本， 序列化速度比msgpack-python更快，反序列化速度稍慢（目前）。它原生支持序列化： dataclass、 datetime、 numpy、 pydantic和 UUID实例。
ormsgpack >= 1.5.0
email-validator >= 2.2.0
# 这个库是用来操作Azure Blob存储服务的，它允许用户上传、下载、列出和删除存储在Azure Blob容器中的块 blob、追加 blob 和页 blob。
azure-storage-blob == 12.22.0
# 这个库提供了用于身份验证的客户端库，支持开发者通过多种方式对Azure服务进行身份验证。
azure-identity == 1.17.1
# 这个库用于与Azure Data Lake Storage Gen2服务进行交互，它建立在Azure Blob存储之上，并提供了对文件系统的支持。
azure-storage-file-datalake == 12.16.0
# boto3 是AWS的Python SDK，它为Python开发者提供了访问AWS服务的接口。它是一个高级的、面向对象的API，允许开发者轻松地与AWS服务进行交互。使用boto3，开发者可以管理各种AWS资源，如S3存储桶、EC2实例、IAM用户、DynamoDB表等。
boto3 >= 1.35.21
# botocore 是boto3背后的核心库，它负责处理底层的HTTP请求和响应，并提供了低级别的接口来与AWS服务进行交互。
botocore >= 1.35.21
# ranx 是一个用于信息检索评估的 Python 库。它提供了快速、灵活的工具来评估和比较不同的检索系统或模型，常用于自然语言处理（NLP）、信息检索（IR）等领域。
ranx >= 0.3.20
# 一款将 Markdown（CommonMark 方言）数据转换为 JSON 的简单工具。它使用标题作为 JSON 键，标题后面的内容作为值。列表转换为数组。较高的标题值会产生嵌套的 JSON 键。
markdown_to_json >= 2.1.1
# 编辑距离（Levenshtein distance）的快速实现。
editdistance >= 0.8.1
# graspologic是一个图形统计算法包。
graspologic >= 3.4.1
# tencentcloud-sdk-python 腾讯云Python SDK是官方的软件开发工具包，允许Pythons开发人员编写使用腾讯云服务（如CVM和CBS）的软件。
tencentcloud-sdk-python >= 3.0.1244
# Google AI Python SDK 是 Python 开发人员使用 Gemini API 进行构建的最简单方法。Gemini API 可让您访问由Google DeepMind创建的Gemini模型。Gemini 模型从头开始构建为多模式，因此您可以在文本、图像和代码之间无缝推理。
google-generativeai >= 0.8.3
